{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4" style="color: #1d4d51">Восстановить логин или пароль</h2>
                <form action="{% url "user:forgot_password" %}" method="post" novalidate id="forgotForm">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group mb-3">
                        <label for="id_email" class="form-label">Email*</label>
                        <input type="email" class="form-control"
                        value=""
                        name="email" id="id_email"
                        placeholder="Введите email от вашего аккаунта"
                        required>
                        <div style="color: red" id="emailError"></div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <button type="submit" class="btn btn-block mt-2 mb-3" style="background-color: #1d4d51; color: #a18c0d">Отправить письмо на почту</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height: 200px"></div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Подключаем Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#forgotForm').on('submit', function(event) {
            let valid = true;
            let email = $('#id_email');
            let emailError = $('#emailError');

            if (email.val() === '') {
                valid = false;
                emailError.text('Введите электронную почту.');
            } else {
                emailError.text('');
            }

            if (!valid) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}
